# Obligatoire : clé API OpenAI (ou autre fournisseur LLM)
OPENAI_API_KEY=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

# Optionnel : tracing LangSmith
LANGCHAIN_API_KEY=
LANGCHAIN_TRACING_V2=true
LANGCHAIN_PROJECT=TUTTOP-agent
