# Obligatoire : clé API OpenAI (ou autre fournisseur LLM)
OPENAI_API_KEY=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
GROQ_API_KEY=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

# Optionnel : tracing LangSmith
LANGCHAIN_API_KEY=
LANGCHAIN_TRACING_V2=true
LANGCHAIN_PROJECT=TUTTOP-agent
